doctype html
html
  head
    
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    
    block css
      link(
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      )
    
    title= site.title
    
  body
    block body
      p This is the body of the page.
    block js
      include ./bootstrap_js.pug
